@use '../helpers/' as *;

.cart {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid hsl(0, 0%, 90%);
        padding: 1rem 0;
    }
    
}