@use '../helpers' as *;

.component {
    display: inline-flex;
    flex-direction: column;
    

    &__subtitle  {
        color: var(--rose-500);
    }

    &__title {
        color: var(--rose-900);
        font-weight: 600;
    }

    &__price {
        color: var(--color-red);
        font-weight: 600;
    }

    &__preview {
        display: inherit;
        flex-direction: column;
        align-items: center;
    }

    &__body {
        display: inherit;
        flex-direction: column;
        row-gap: .2rem;
    }

    &__image {
        border-radius: rem(14);
        
    }
}