@use '../helpers' as *;

.cart-empty {
    background-color: #fff;
    padding: 2rem 1.5rem;
    // width: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    min-width: rem(250);

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    &__item-count {
        color: var(--color-red);
        @include fluid-text(26, 22);
        font-weight: 700;
    }

    &__description {
        color: var(--rose-400);
        font-weight: 600;
    }
}