@use '../helpers' as *;

.list {
    --columns: 3;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(var(--columns), auto);
        
    @include tablet {
        --columns: 2;
    }

    @include mobile {
        --columns: 1;

        justify-content: center;
    }
}