@use '../helpers/' as *;

.product-card {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;

    &__name {
        font-weight: 600;
    }

    &__details {
        display: flex;
        column-gap: 1rem;
    }

    &__count {
        color: var(--color-red);
        font-weight: 600;
    }

    &__price {
        color: var(--rose-500);
    }

    &__total {
        color: var(--rose-500);
        font-weight: 600;
    }

    &__cancel {
        border: 1px solid var(--rose-300);
        border-radius: 50%;
        padding: 2px;
        position: relative;

        // @include hover {
        //     cursor: pointer;
        // }
    
        &::after {
            // position: absolute;
            content: 'asdaskl';
            position: absolute;
            
            top: -10px;
        }
    }
}
