@use '../helpers' as *;

picture {
    display: block;
    width: 100%;
    height: 100%;
}

.section {
    display: grid;
    grid-template-columns: auto minmax(360px, 1fr);
    gap: rem(35);
    padding-block: 2rem;

    & img {
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }

    @include mobile {
        grid-template-columns: 1fr;
    }

    &__list {
        --columns: 3;

        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        gap: rem(25);

        @include tablet {
            --columns: 2;
            // grid-template-columns: repe;
        }

        @include mobile {
            --columns: 1;
        }
    }
}