@use 'helpers' as *;

:root {
    --color-red: hsl(14, 86%, 42%);
    --color-green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);

    --font-base:'Red Hat Text';

    --container-width: 1440px;
    --container-padding-x: 16px;

    --on-transition: hsl(14, 86%, 48%);
}