@charset "UTF-8";
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  font-family: var(--font-base);
  background-color: var(--rose-50);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  overflow-x: hidden;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --font-base:'Red Hat Text';
  --container-width: 1440px;
  --container-padding-x: 16px;
}

.icon {
  display: inline-flex;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
}
.icon::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--cart::before {
  background-image: url("../../assets/images/icon-add-to-cart.svg");
}

.button {
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--rose-400);
  white-space: nowrap;
  font-weight: 600;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  transition-duration: 0.2s;
}
@media (any-hover: hover) {
  .button:hover {
    border-color: var(--rose-900);
    background-color: var(--rose-50);
  }
}
@media (any-hover: none) {
  .button:active {
    border-color: var(--rose-900);
    background-color: var(--rose-50);
  }
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.item__thumbnail {
  position: relative;
  --button-height: 2.8125rem;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
.item__thumbnail-image {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__thumbnail-button {
  position: absolute;
  min-height: var(--button-height);
  top: calc(100% - var(--button-height) / 2);
  left: 50%;
  translate: -50%;
}
.item__subtitle {
  color: var(--rose-500);
}
.item__title {
  color: var(--rose-900);
  font-weight: 600;
  font-size: clamp(1.125rem, 1.0931372549rem + 0.1307189542vw, 1.25rem);
}
.item__price {
  font-size: clamp(1rem, 0.9681372549rem + 0.1307189542vw, 1.125rem);
  font-weight: 700;
  color: var(--color-red);
}

.list {
  --columns: 3;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(var(--columns), auto);
}
@media (width <= 63.99875rem) {
  .list {
    --columns: 2;
  }
}
@media (width <= 47.99875rem) {
  .list {
    --columns: 1;
    justify-content: center;
  }
}

.section {
  padding: 4rem 1rem;
}
@media (width <= 47.99875rem) {
  .section {
    padding: 2rem 0;
  }
}
.section__title {
  font-size: clamp(1.5rem, 1.1176470588rem + 1.568627451vw, 3rem);
}
.section__body {
  display: grid;
  grid-template-columns: auto 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media (width <= 47.99875rem) {
  .section__body {
    grid-template-columns: auto;
    row-gap: 2rem;
  }
}
.section__main {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cart-empty {
  background-color: #fff;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  min-width: 15.625rem;
}
.cart-empty__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.cart-empty__item-count {
  color: var(--color-red);
  font-size: clamp(1.375rem, 1.3112745098rem + 0.2614379085vw, 1.625rem);
  font-weight: 700;
}
.cart-empty__description {
  color: var(--rose-400);
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */