@charset "UTF-8";
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/static/RedHatText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

body {
  font-family: var(--font-base);
  background-color: var(--rose-50);
}

h1 {
  font-size: clamp(1.625rem, 1.4975490196rem + 0.522875817vw, 2.125rem);
  color: var(--rose-900);
}

h2 {
  font-size: clamp(1.125rem, 1.0931372549rem + 0.1307189542vw, 1.25rem);
  color: var(--color-red);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  overflow-x: hidden;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
  --font-base:'Red Hat Text';
  --container-width: 1440px;
  --container-padding-x: 16px;
  --on-transition: hsl(14, 86%, 48%);
}

.icon {
  display: inline-flex;
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
  align-items: center;
}
.icon::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon--cart::before {
  background-image: url("../../assets/images/icon-add-to-cart.svg");
  display: inline;
}
.icon--carbon::before {
  background-image: url("../../assets/images/icon-carbon-neutral.svg");
}

.button {
  border-radius: 999px;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: var(--color-red);
  text-align: center;
  font-size: 0.875rem;
  padding: 0.7rem;
  transition-duration: 0.2s;
}
.button--purchase {
  width: 100%;
  justify-content: center;
  color: #fff;
}
@media (any-hover: hover) {
  .button--purchase:hover {
    background-color: var(--on-transition);
  }
}
@media (any-hover: none) {
  .button--purchase:active {
    background-color: var(--on-transition);
  }
}
.button--component {
  translate: 0 -50%;
  padding: 0.6rem 1.5rem;
  background-color: #fff;
  font-weight: 600;
  border: 1px solid var(--rose-400);
  transition-duration: 0.2s;
}
@media (any-hover: hover) {
  .button--component:hover {
    background-color: var(--rose-100);
  }
}
@media (any-hover: none) {
  .button--component:active {
    background-color: var(--rose-100);
  }
}
.button--add-decrement {
  -moz-column-gap: 2.1875rem;
       column-gap: 2.1875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-red);
  color: #fff;
}
@media (any-hover: hover) {
  .button--add-decrement:hover {
    background-color: var(--on-transition);
  }
}
@media (any-hover: none) {
  .button--add-decrement:active {
    background-color: var(--on-transition);
  }
}
.button--add-decrement__decrement, .button--add-decrement__increment {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
  padding: 0.125rem;
  border-radius: 50%;
  transition-duration: 0.2s;
}
@media (any-hover: hover) {
  .button--add-decrement__decrement:hover, .button--add-decrement__increment:hover {
    color: var(--rose-500);
  }
}
@media (any-hover: none) {
  .button--add-decrement__decrement:active, .button--add-decrement__increment:active {
    color: var(--rose-500);
  }
}
.button--add-decrement__decrement::before, .button--add-decrement__increment::before {
  content: "";
  position: absolute;
  top: -0.9375rem;
  left: -0.9375rem;
  right: -0.9375rem;
  bottom: -0.9375rem;
}

.component {
  display: inline-flex;
  flex-direction: column;
}
.component__subtitle {
  color: var(--rose-500);
}
.component__title {
  color: var(--rose-900);
  font-weight: 600;
}
.component__price {
  color: var(--color-red);
  font-weight: 600;
}
.component__preview {
  display: inherit;
  flex-direction: column;
  align-items: center;
}
.component__body {
  display: inherit;
  flex-direction: column;
  row-gap: 0.2rem;
}
.component__image {
  border-radius: 0.875rem;
}

body {
  background-color: var(--rose-50);
}

.cart {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  row-gap: 1rem;
  width: -moz-max-content;
  width: max-content;
  min-width: clamp(14.375rem, 13.2598039216rem + 4.5751633987vw, 18.75rem);
}
.cart--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.cart--empty__description {
  font-size: 0.875rem;
  color: var(--rose-500);
  font-weight: 600;
}
.cart--empty:not(.is-empty) {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.cart__list {
  display: flex;
  flex-direction: column;
}
.cart__purchase {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-block-start: 1.5rem;
  color: var(--rose-900);
}
.cart__order-details {
  display: flex;
  justify-content: space-between;
}
.cart__total-price {
  font-weight: 700;
  font-size: clamp(1.125rem, 1.0931372549rem + 0.1307189542vw, 1.25rem);
}
@media (width <= 47.99875rem) {
  .cart {
    width: auto;
  }
}
.cart__main:not(.is-active) {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 95%);
}
.item__name {
  color: var(--rose-900);
  font-weight: 600;
}
.item__main {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}
.item__details {
  display: flex;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
}
.item__count {
  color: var(--color-red);
  font-weight: 600;
}
.item__price {
  color: var(--rose-500);
}
.item__total-price {
  color: var(--rose-500);
  font-weight: 600;
}
.item__total-price--order-confirmation {
  margin-left: auto;
  font-weight: 600;
}
.item__cancel {
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid var(--rose-300);
  border-radius: 50%;
  padding: 0.125rem;
  transition-duration: 0.2s;
  color: currentColor;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--rose-300);
}
@media (any-hover: hover) {
  .item__cancel:hover {
    border-color: var(--rose-900);
    color: var(--rose-900);
  }
}
@media (any-hover: none) {
  .item__cancel:active {
    border-color: var(--rose-900);
    color: var(--rose-900);
  }
}
.item--order-confirmation {
  justify-content: start;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  align-items: center;
  padding-inline: 1.5rem;
}

.safe-delivery {
  background-color: var(--rose-50);
  padding-block: 0.6rem;
  display: flex;
  align-items: center;
  padding: 0.4rem 3rem;
  font-size: 0.875rem;
}
@media (width <= 47.99875rem) {
  .safe-delivery {
    padding-inline: 1rem;
  }
}

.stress {
  font-weight: 600;
}

.order-confirmation {
  background-color: #fff;
  border-radius: 16px;
  padding: 2rem;
  display: inline-flex;
  flex-direction: column;
  width: 500px;
  row-gap: 2rem;
}
.order-confirmation__description {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.order-confirmation__title {
  font-size: clamp(1.75rem, 1.6225490196rem + 0.522875817vw, 2.25rem);
  font-weight: 700;
  color: var(--rose-900);
}
.order-confirmation__confirmation {
  color: var(--color-green);
}
.order-confirmation__message {
  font-size: 0.875rem;
  color: var(--rose-500);
}
.order-confirmation__body {
  background-color: var(--rose-50);
  border-radius: 12px;
}
.order-confirmation__total {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  align-items: center;
  color: var(--rose-900);
}
.order-confirmation__order {
  font-weight: 700;
  font-size: clamp(1.375rem, 1.2794117647rem + 0.3921568627vw, 1.75rem);
}
.order-confirmation__button {
  display: inline-flex;
  justify-content: center;
}

picture {
  display: block;
  width: 100%;
  height: 100%;
}

.section {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2.1875rem;
  padding-block: 2rem;
}
.section img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
@media (width <= 47.99875rem) {
  .section {
    grid-template-columns: 1fr;
  }
}
.section__list {
  --columns: 3;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 1.5625rem;
}
@media (width <= 63.99875rem) {
  .section__list {
    --columns: 2;
  }
}
@media (width <= 47.99875rem) {
  .section__list {
    --columns: 1;
  }
}/*# sourceMappingURL=main.css.map */